html, body {
    height: 100%;
    width: 100%;
  }
/* This is the css file that went with that particular index.html which was just a table. */

/* Now I'm (again) making changes in the develop branch */

em {
    color: blueviolet;
}